#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on


# --------------------------------------------------
# DETAIL D'UN POST
# --------------------------------------------------

  # PATTERN: posts/{id}/{slug}
  # URL: index.php?postID=x
  RewriteRule ^posts\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*).html$ index.php?postID=$1 [L]

# --------------------------------------------------
# AJOUT D'UN POST: affichage du formulaire
# --------------------------------------------------

    # PATTERN: /posts/add/form.html
    # FROM : posts/Add/form
    # To index.php?posts=addForm

RewriteRule ^posts\/add\/form.html$ index.php?posts=addForm [L]
# --------------------------------------------------

# --------------------------------------------------
#  ROUTE D'AJOUT D'UN POST: INSERT
# --------------------------------------------------

              #PATTERN: /posts/add/insert.html
              #FROM posts/add/insert
              #URL: index.php?posts=addInsert
              #PAS DE TITLE CAR REDIRECTION VERS LA PAGE D'ACCUEIL
    RewriteRule ^posts\/add\/insert.html$ index.php?posts=addInsert [L]

# --------------------------------------------------
#    ROUTE DE SUPPRESSION D'UN POST:
# --------------------------------------------------
        #PATTERN: /posts/id/slug-du-post/delete.html
        #FROM posts/www/delete
        # URL: index.php?posts=delete&id=x
        PAS DE TITLE CAR REDIRECTION VERS LA PAGE D'ACCUEIL
RewriteRule ^posts\/([1-9][0-9]*)\/([a-z0-9][a-z0-9\-]*)\/delete.html$ index.php?posts=delete&id=$1 [L]
